/* =================================
            Header
================================= */
nav {
    height: 75px;
    width: 100%;
}

.sign-upHeader {
    /* float: left;
    position: absolute;
    right: 150px; */
}

.loginHeader {
    /* float: left;
    position: absolute;
    right: 50px; */
}

.sign-upHeader,
.loginHeader,
.logoutHeader,
.nameDisplay {
    margin: 0 10px;
}

/* =================================
            Body
================================= */
body {
    background-image: url(../img/bg.png);
}

.container {
    text-align: center;
}

#ingredientSelectorHolder,
#drinkSelectorHolder {
    margin: 75px 0;
    text-align: left;
}

#randomDrinkHolder {
    margin: 50px 15% 50px 15%;
}

#ingredientInput,
#drinkInput {
    text-align: left;
    margin: 0 20%;
}

.optionWheel {
    margin: 0 20%;
    width: 50%;
}

h4 {
    margin: 0 20%;
    margin-bottom: 10px;
}

/* =================================
            Drinks Display
================================= */
#drinkOutput {
    padding: 10%;
    height: 100%;
    background-image: url(../img/drinkOutputBg.png);
    text-align: left;
    color: #fff;
}

#youtubeVids {
    padding: 10% 0;
    height: 100%;
    background-image: url(../img/drinkOutputBg.png);
    color: #fff;
}

#clearfix {
    height: 200px;
}

/* =================================
            Youtube Display
================================= */
.video, .card{
    width: 255px;
    height: 255px;
    float: left;
    margin: 1%;
    background-color: #5ea9f5;
}

.video {
    position: relative;
    left: 0;
    bottom: 0;
    width: 254px;
    height: 250px;
    margin: 10px 0 0 0;
}

/* =================================
            Login Box
================================= */



/* =================================
            Footer
================================= */
footer {
    margin-top: 100px;
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    float: left;
}

footer a {
    color: #5ea9f5;
}

footer a:hover {
    text-decoration: none;
    color: #e98502;
}

footer p {
    padding: 25px 0;
    color: #fff;
}

footer p span {
    text-decoration: line-through;
}